* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
}

img {
    border-radius: 50%;
    height: auto;
    width: 200px;
}

.bold {
    font-size: 40px;
}

main a {
    color: #99D930;
}

main a:hover,
main a:active {
    color: #131313;
}

section:nth-of-type(1) {
    background-color: #D7D7D7;
    width: 100%;
    height: auto;
    padding: 40px;
}


section:nth-of-type(2) {
    background-color: #FFEAEA;
    width: 100%;
    height: auto;
    padding: 40px;
}

section:nth-of-type(3) {
    background-color: #EAF9FF;
    width: 100%;
    height: auto;
    padding: 40px;
}