body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
}

img {
    border-radius: 50%;
}

main h3 {
    font-size: 26px;
}

.bold {
    font-size: 40px;
}