body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
}

img {
    border-radius: 50%;
}

.bold {
    font-size: 40px;
}

main a {
    color: #99D930;
}

main a:hover,
main a:active {
    color: #131313;
}